<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <link href="../stylesheets/jquery-ui.css" rel="stylesheet">
  <link href="../stylesheets/jquery.tagit.css" rel="stylesheet">
  <script src="../scripts/jquery.js"></script>
  <script src="../scripts/jquery-ui.js"></script>
  <script src="../scripts/bootstrap.js"></script>
  <script src="../scripts/tag-it.js"></script>
  <script>
    $(document).ready(function(){
      // References:
      // - https://github.com/aehlke/tag-it
      // - http://jqueryui.com/autocomplete/#remote

      var temp = "{{ existing_skills }}";
      temp = temp.replace(/&lt;/g, "<");
      temp = temp.replace(/&gt;/g, ">");
      document.getElementById('skills_tags').innerHTML = temp;

      temp = "{{ existing_interests }}";
      temp = temp.replace(/&lt;/g, "<");
      temp = temp.replace(/&gt;/g, ">");
      document.getElementById('interests_tags').innerHTML = temp;

      temp = "{{ existing_involvements }}";
      temp = temp.replace(/&lt;/g, "<");
      temp = temp.replace(/&gt;/g, ">");
      document.getElementById('involvements_tags').innerHTML = temp;

      temp = "{{ existing_advices }}";
      temp = temp.replace(/&lt;/g, "<");
      temp = temp.replace(/&gt;/g, ">");
      document.getElementById('advices_tags').innerHTML = temp;

      $("#skills_tags").tagit({
        // Options
        fieldName: "skills",
        availableTags: null,
        autocomplete: {
          delay: 0,
          minLength: 2
        },
        showAutocompleteOnFocus: true,
        removeConfirmation: true,
        caseSensitive: false,
        allowDuplicates: false,
        allowSpaces: true,
        readOnly: false,
        tagLimit: null,
        singleField: true,
        singleFieldDelimiter: ',,',
        singleFieldNode: null,
        tabIndex: null,
        placeholderText: ''
      });

      $("#interests_tags").tagit({
        // Options
        fieldName: "interests",
        availableTags: null,
        autocomplete: {
          delay: 0,
          minLength: 2
        },
        showAutocompleteOnFocus: true,
        removeConfirmation: true,
        caseSensitive: false,
        allowDuplicates: false,
        allowSpaces: true,
        readOnly: false,
        tagLimit: null,
        singleField: true,
        singleFieldDelimiter: ',,',
        singleFieldNode: null,
        tabIndex: null,
        placeholderText: ''
      });

      $("#involvements_tags").tagit({
        // Options
        fieldName: "involvements",
        availableTags: null,
        autocomplete: {
          delay: 0,
          minLength: 2
        },
        showAutocompleteOnFocus: true,
        removeConfirmation: true,
        caseSensitive: false,
        allowDuplicates: false,
        allowSpaces: true,
        readOnly: false,
        tagLimit: null,
        singleField: true,
        singleFieldDelimiter: ',,',
        singleFieldNode: null,
        tabIndex: null,
        placeholderText: ''
      });

      $("#advices_tags").tagit({
        // Options
        fieldName: "advices",
        availableTags: null,
        showAutocompleteOnFocus: true,
        removeConfirmation: true,
        caseSensitive: false,
        allowDuplicates: false,
        allowSpaces: true,
        readOnly: false,
        tagLimit: null,
        singleField: true,
        singleFieldDelimiter: ',,',
        singleFieldNode: null,
        tabIndex: null,
        placeholderText: ''
      });
    });
  </script>
  <title>Your Experience | NUS Bridge</title>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/snapshot">NUS Bridge</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/snapshot">Snapshot</a></li>
            <li class="active dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questionnaires <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/aspirations">Aspirations</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/personality">Personality</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Analysis<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/symmetrical-connections">Symmetrical Connections</a></li>
                <li><a href="/complementary-connections">Complementary Connections</a></li>
                <li><a href="/improvement-advisory">Improvement Advisory</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ student_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">{{ student_email }}</li>
                <li class="divider"></li>
                <li><a href="/profile">Edit profile</a></li>
                <li><a href="/">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>What are your experiences?</h1>
            <br/>
            <p class="lead">What are you good at and what are your interests? What or where are the things that you were involved in? And what do you generally like to share?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <form method="post" action="/personality">
        <div class="row">
          <div class="col-md-3">
            <h4>Your best skills or areas of knowledge</h4>
          </div>
          <div class="col-md-9 text-center">
              <ul id="skills_tags">  
              </ul>
              <p>e.g. talents, knowledge</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Your interests</h4>
          </div>
          <div class="col-md-9 text-center">
              <ul id="interests_tags">  
              </ul>
              <p>e.g. topics that you like to read, learn or talk about</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Your current and previous involvements</h4>
          </div>
          <div class="col-md-9 text-center">
              <ul id="involvements_tags">
              </ul>
              <p>e.g. achievements, student clubs, special programmes, significant events, external relations, place of internships</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <h4>Your shout-outs</h4>
          </div>
          <div class="col-md-9 text-center">
              <ul id="advices_tags">
              </ul>
              <p>e.g. academic survival advices, tips and tricks for certain modules, "knowledge is more important than grades"</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <br/>
            <button class="btn btn-success btn-lg btn-block" type="submit">Save and Continue</button>
          </div>
        </div>
      </form>
    </div>
    
  </body>
  </html>
