<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="shortcut icon" href="favicon.ico">
  	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/chart.js"></script>
  	<title>Improvement Advisory | NUS Bridge</title>
  </head>

  <body>
  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="/snapshot">NUS Bridge</a>
  			</div>
  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav">
            <li><a href="/snapshot">Snapshot</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questionnaires <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/aspirations">Aspirations</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/personality">Personality</a></li>
              </ul>
            </li>
            <li class="active dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Analysis<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/symmetrical-connections">Symmetrical Connections</a></li>
                <li><a href="/complementary-connections">Complementary Connections</a></li>
                <li><a href="/improvement-advisory">Improvement Advisory</a></li>
              </ul>
            </li>
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ student_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">{{ student_email }}</li>
                <li class="divider"></li>
                <li><a href="/profile">Edit profile</a></li>
                <li><a href="/">Log out</a></li>
              </ul>
            </li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<br/><br/><br/>

    <div class="row">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h3>Your Strengths</h3>
          <canvas id="strengths_radar" height="370" width="370"></canvas>
          <script>
            var radarChartData = {
              labels : ["Leader","People","Skill","Strategy"],
              datasets : [
                {
                  fillColor : "rgba(166,222,44,0.5)",
                  strokeColor : "rgba(98,183,42,1)",
                  pointColor : "rgba(98,183,42,1)",
                  pointStrokeColor : "#fff",
                  data : [{{ choleric_strength_count }},{{ sanguine_strength_count }},{{ phlegmatic_strength_count }},{{ melancholic_strength_count }}]
                }
              ]
            }
            var myRadar = new Chart(document.getElementById("strengths_radar").getContext("2d")).Radar(radarChartData,{scaleShowLabels : false, pointLabelFontSize : 14});
          </script>
          <h4>What may happen if carried to extremes</h4>
          <p class="lead">Keep up your potential but be mindful that either you will be {{ top_extreme }} or {{ second_extreme }} if you take your strengths too far.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h3>Your Fears</h3>
          <canvas id="weaknesses_radar" height="370" width="370"></canvas>
          <script>
            var radarChartData = {
              labels : ["Used","Disapproved","Confronted","Embarrassed"],
              datasets : [
                {
                  fillColor : "rgba(246,84,78,0.5)",
                  strokeColor : "rgba(200,58,55,1)",
                  pointColor : "rgba(200,58,55,1)",
                  pointStrokeColor : "#fff",
                  data : [{{ choleric_weakness_count }},{{ sanguine_weakness_count }},{{ phlegmatic_weakness_count }},{{ melancholic_weakness_count }}]
                }
              ]
            }
            var myRadar = new Chart(document.getElementById("weaknesses_radar").getContext("2d")).Radar(radarChartData,{scaleShowLabels : false, pointLabelFontSize : 14});
          </script>
          <h4>Plausible underlying weaknesses</h4>
          <p class="lead">Recognise that you {{ top_flaw }} and {{ second_flaw }}. If any of your friends are like you, you would probably {{ top_get_along }} and also {{ second_get_along }}.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h3>Your Priorities</h3> 
          <canvas id="overall_radar" height="370" width="370"></canvas>
          <script>
            var radarChartData = {
              labels : ["Result","Interaction","Friendship","Process"],
              datasets : [
                {
                  fillColor : "rgba(151,187,205,0.5)",
                  strokeColor : "rgba(151,187,205,1)",
                  pointColor : "rgba(151,187,205,1)",
                  pointStrokeColor : "#fff",
                  data : [{{ choleric_count }},{{ sanguine_count }},{{ phlegmatic_count }},{{ melancholic_count }}]
                }
              ]
            }
            var myRadar = new Chart(document.getElementById("overall_radar").getContext("2d")).Radar(radarChartData,{scaleShowLabels : false, pointLabelFontSize : 14});
          </script>
          <h4>What to recognise in yourself</h4>
          <p class="lead">Occassionally you need to be {{ top_need }} or {{ second_need }}. Try to {{ top_improvement }} or {{ second_improvement }}.</p>
        </div>
      </div>
    </div>
    
  </body>
  </html>
