<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="shortcut icon" href="favicon.ico">
  	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/stylish-portfolio.css" rel="stylesheet">
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/bootstrap.js"></script>
  	<title>NUS Bridge</title>   
  </head>

  <body>
    <header id="navbar-top" class="banner navbar navbar-default" role="banner" style="display: block;">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="btn btn-default navbar-toggle" href="{{ login_url }}">Sign in with NUSNET ID</a> 
            <a class="navbar-brand" href="/">NUS Bridge</a>
          </div>
          <div class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
              <a class="btn btn-default" style="background:none; border:1px solid #97300f;" href="{{ login_url }}">Sign in with NUSNET ID</a> 
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>What will you do to achieve your dreams?</h1>
            <h3>Get inspired and learn from interesting connections and experiences for your aspiration.</h3>
            <br/>
            <a href="#about" class="btn btn-primary btn-lg">Sign in with your NUS account</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center" style="color: #e6e6e6;">
                    <h2>What is NUS Bridge?</h2>
                    <p class="lead">Your connections are the most important assets for your personal well-being and professional success. It can be challenging to understand the value of your connections in an academic setting. Your social capital is present but it is either overlooked or not obvious.</p>
                    <p class="lead">Our mission is to make finding relevant people and experiences as easy as possible for your goals.</p>
                    <p class="lead">Indeed, this is just a beginning as we attempt to answer uncertainty for your aspiration. When was the last time you were asked about your game plan to achieve your dream?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>Let us begin by understanding you</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-rocket"></i>
                        <h4>Your Aspiration</h4>
                        <p>What do you want or want to be after your graduation?</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-magnet"></i>
                        <h4>Your Education</h4>
                        <p>What are your best peforming modules?</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-shield"></i>
                        <h4>Your Experience</h4>
                        <p>What do you do, what are you good at, and what do you know?</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-pencil"></i>
                        <h4>Your Personality</h4>
                        <p>What words will describe you?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1>The Analysis Process</h1>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio" style="color: #e6e6e6;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <br/>
                    <p class="lead">We use the data your provided to evaluate who are similar to you and who are complementary to you. Based on your results, we would also suggest to you how you can understand others by understanding yourself.</p>
                    <br/><hr>
                </div>
            </div>
            <br/><br/><br/>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <h4>Symmetrical Connections</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <h4>Complementary Connections</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <h4>Improvement Advisory</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>Because relationship and collective wisdom matters. Over # people have started.</h3>
                    <a href="#" class="btn btn-lg btn-primary">Sign in with your NUS account</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->

    <!-- Map
    <div id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </div>
    /Map -->

    <!-- Footer -->
    <footer>
        <div class="container">
          <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center" style="color: #aaaaaa;">
                    <p>DEVELOPED BY</p>
                    <ul class="list-inline">
                        <li><!--<i class="fa fa-facebook fa-3x"></i>-->Ho Ren Sen</li>
                        <li><!--<i class="fa fa-twitter fa-3x"></i>-->Quek Jie Ping</li>
                    </ul>
                </div>
                <br/><br/><br/><br/><br/><br/><br/>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center" style="color: #cccccc;">
                    <p>DISCLAIMER</p>
                    <hr>
                    <p>No one can guarantee that the analysis presented in this website will work for you as it is not scientifically proven. We hope however that the results presented to you will give you a sense of clarity for your journey to your aspiration.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
  </body>
</html>
