<!DOCTYPE html>
<html lang="en">
    <head>
      	<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<meta name="description" content="">
      	<meta name="author" content="">
      	<link rel="shortcut icon" href="favicon.ico">
      	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
        <link href="../stylesheets/home-page.css" rel="stylesheet">
        <style>
        .navbar-default {
            background: -webkit-linear-gradient(transparent, transparent); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#333333, #333333); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#333333, #333333); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#333333, #333333); /* Standard syntax (must be last) */
            /* Dark blue: #0a5175 */
            /* Bright orange: #db4922 */
            -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.175);
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.175);
            border: none;
        }
        </style>
        <script src="../scripts/jquery.js"></script>
        <script src="../scripts/bootstrap.js"></script>
      	<title>NUS Bridge</title>
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-bottom: 2px solid #db4922;">
            <div class="container">
              <div class="navbar-header">
                <a class="btn btn-default navbar-toggle" href="{{ login_url }}">Sign in with NUS account</a> 
                <a class="navbar-brand" href="/"><span style="color:#fc6621">NUS</span> <img height="20px" src="../images/bridge_logo_against_dark.png" alt="NUS Bridge"></a>
              </div>
              <div class="navbar-collapse collapse">
                <div class="navbar-form navbar-right">
                  <a class="btn btn-default" style="background:#db4922; border:1px solid #db4922;" href="{{ login_url }}">Sign in with NUS account</a> 
                </div>
              </div>
            </div>
        </div>

        <!-- Full Page Image Header Area -->
        <div id="top" class="header jumbotron">
            <div class="vert-text">
                <br/>
                <img height="100px" src="../images/bridge_logo_original.png">
                <h2>Take the questionnaires. Discover people and experiences that are relevant to your aspiration.</h2>
            </div>
        </div>
        <!-- /Full Page Image Header Area -->

        <!-- Intro -->
        <div id="about" class="intro">
            <div class="container">
                <div class="row" style="color: #b6b6b6;">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 style="color: #fc6621; margin-bottom: 40px;">About the motivation behind NUS Bridge</h2>
                    </div>
                    <div class="col-md-6">
                        <p class="lead">Have you ever had uncertainity in the quest for your hopes while you're still in university?</p>
                        <p class="lead">While keeping up with technical knowledge is important, we believe that who you know are the most important assets for your personal well-being or professional success.</p>
                        <p class="lead">We also believe that knowing your flaws is also a strength because they can work against you or your aspirations when you interact with people.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="lead">So, we thought about an experiment. We created NUS Bridge to discover your personality, and interesting people and experiences from the crowd relevant to your aspiration.</p>
                        <p class="lead">As we are constantly influenced by our environment and friends, we also have an effect on our friends too. When you believe that the observed insights from others makes sense, then you feel more confident to learn, act or think in their way (and perhaps successfully too), therefore giving you a better sense of confidence and direction for your aspiration.</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /Intro -->

        <!-- Questionnaires -->
        <div id="services" class="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <h2>Let us begin by understanding you</h2>
                        <hr>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon"><img class="img-circle img-responsive" src="../images/icon_14892.png"></i>
                            <h3>Your Aspiration</h3>
                            <p>What do you want to be or achieve after your graduation?</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon"><img class="img-circle img-responsive" src="../images/icon_47508.png"></i>
                            <h3>Your Education</h3>
                            <p>What modules have you done well in?</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon"><img class="img-circle img-responsive" src="../images/icon_44258.png"></i>
                            <h3>Your Experience</h3>
                            <p>What do you do, what are you good at, and what do you know?</p>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="service-item">
                            <i class="service-icon"><img class="img-circle img-responsive" src="../images/icon_21308.png"></i>
                            <h3>Your Personality</h3>
                            <p>What words describe you?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Questionnaires-->

        <div class="callout jumbotron">
            <div class="vert-text">
                <h1>The Analysis Methodology</h1>
            </div>
        </div>

        <div id="portfolio" class="portfolio" style="color: #e6e6e6;">
            <div class="container" style="color: #b6b6b6;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2 style="color: #fc6621; margin-bottom: 40px;">We match people who contextually entered the same aspiration as you do, divide them with respect to your personality and present information about their experiences and academic background.</h2><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 text-center">
                        <div class="portfolio-item">
                            <i class="service-icon" style="border: none;"><img class="img-circle img-responsive" src="../images/icon_31898.png"></i>
                            <h3>Symmetrical Connections</h3>
                            <p class="lead">People whose personalities are similiar to you; likely relatable</p>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center">
                        <div class="portfolio-item">
                            <i class="service-icon" style="border: none;"><img class="img-circle img-responsive" src="../images/icon_17048.png"></i>
                            <h3>Complementary Connections</h3>
                            <p class="lead">People whose personalities are not like you; good to know too</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <br/><br/>
                        <p class="lead">Changing your personality is not necessary but the experiences by other people who share common aspirations are perhaps interesting insights for you. You may be surprised by the results.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4><a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" href="#collapse-science">How is the personality assessed? <span class="caret"></span></a></h4>
                    </div>
                </div>
                <br/>
                <div class="divider panel-collapse collapse" id="collapse-science">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <p class="lead">The test is based on Four Temperaments. In this theory, each person's personality is a blend of two traits from the four – sanguine, choleric, melancholic, phlegmatic. The top two dominant traits are determined by the occurrences of each trait selected, represented by its characteristic. There are 40 questions of 4 choices each.</p>

                            <p class="lead">In addition, based on this theory and your two dominant temperaments, you will see a snapshot of your emotions and strengths, and suggested corrections on your weaknesses in the analysis results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>{{ number_of_users }} people have started so far.</h3>
                        <a href="{{ login_url }}" class="btn btn-lg btn-primary">Sign In With Your NUS Account</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Call to Action -->

        <!-- Footer -->
        <footer>
            <div class="container">
              <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center" style="color: #cccccc;">
                        <p>DEVELOPED BY</p>
                        <ul class="list-inline">
                            <li><a href="mailto:horensen@nus.edu.sg">Ho Ren Sen</a></li>
                            <li><a href="mailto:qjieping@nus.edu.sg">Quek Jie Ping</a></li>
                        </ul>
                        <p class="small">This project was developed during the summer of 2014 in CP3108B Independent Work. While it is up and running, we are curious to see how far this experiment can prove to be useful. We also welcome your feedback.</p>
                    </div>
                    <br/><br/><br/><br/><br/><br/><br/>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center" style="color: #474747;">
                        <p>DISCLAIMER: No one can guarantee that the results suggested in this website will work for you. We hope however that this website will assist you in a small way to achieve your goals. GRAPHICS FROM THE NOUN PROJECT: Graduate by Jerry Wang, High Five by Keith Mulvin, Mountain Climber by Juan Pablo Bravo, Network by Nicholas Menghini, Student by Jerry Wang, Student by Lemon Liu, Thinking by Luis Prado, Venn Diagram by WARPAINT Media Inc.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->
  </body>
</html>