<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="shortcut icon" href="favicon.ico">
  	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/bootstrap.js"></script>
  	<title>NUS Bridge</title>   
  	<!-- Just for debugging purposes. Don't actually copy this line! -->
  	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>

  <body>

    <header id="navbar-top" class="banner navbar navbar-default" role="banner" style="display: block;">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="btn btn-primary navbar-toggle" href="{{ login_url }}">Sign in with NUSNET ID</a> 
            <a class="navbar-brand" href="/">NUS Bridge</a>
          </div>
          <div class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
              <a class="btn btn-primary" href="{{ login_url }}">Sign in with NUSNET ID</a> 
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="jumbotron">
      <div class="container">
        <h1>What will your journey look like for your aspiration?</h1>
        <p>Everyone has their own. Discover who you may know and find out what you might want to learn from them who have the same aspirations as yours.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Because relationship matters</h1>
        <p>We all know how important connections are. However, the value is not always obvious. It takes a little bit of intuition. Now you can visualise your social capital.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>The process of analysis</h1>
        <p>We use your aspirations, your current education, your cumulative experience and a personality test to evaluate who are similar to you and who are complementary to you. Both could be valuable for your aspirations. Based on your personality results, we would suggest to you how you can understand others by understanding yourself.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Collective wisdom for everyone</h1>
        <p>An ambitious person like you love to learn new things. Discover people who are like you and learn what they know. People who are not like you might want to know you. Diversify your perspective of your aspiration.</p>
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            NUS Bridge
          </div>
          <div class="col-md-7">
            <p>Your connections are the most important assets for your personal well-being and professional success. It can be challenging to understand the value of your connections in an academic setting. What is not obvious could be valuable; it might be overlooked. Our mission is to make it as clear as possible by putting the minds of everyone in NUS so that we can bring collective wisdom to you for your aspiration. You might also make new connections. All we need for our mission and the clarity for your aspiration is your contribution.</p>
          </div>
          <div class="col-md-3 text-right">
            <p>Began by Ho Ren Sen and Quek Jie Ping</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
