<!DOCTYPE html>
<html lang="en">
    <head>
      	<meta charset="utf-8">
      	<meta http-equiv="X-UA-Compatible" content="IE=edge">
      	<meta name="viewport" content="width=device-width, initial-scale=1">
      	<meta name="description" content="">
      	<meta name="author" content="">
      	<link rel="shortcut icon" href="favicon.ico">
      	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
        <link href="../stylesheets/home-page.css" rel="stylesheet">
        <script src="../scripts/jquery.js"></script>
        <script src="../scripts/bootstrap.js"></script>
      	<title>By The Numbers</title>
    </head>

    <body>
        <div id="about" class="intro text-center">
            <div class="container">
                <div class="row" style="color: #b6b6b6;">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 style="color: #fc6621;">NUMBER OF REGISTERED USERS</h2>
                    </div>    
                </div>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 style="font-size: 350px;">{{user_count}}</h1>
                        <br/>
                        <p class="lead"></p>
                    </div><!--
                    <div class="col-md-6 text-center">
                        <h1 style="font-size: 150px;">{{count_of_most_common_asp}}</h1>
                        <br/>
                        <p class="lead">{{most_common_asp}}</p>
                    </div>    -->  
                </div>
            </div>
        </div>
        <!-- /Call to Action -->

  </body>
</html>