<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <script src="../scripts/jquery.js"></script>
  <script src="../scripts/bootstrap.js"></script>
  <script>
    $(".header").click(function () {

      $header = $(this);
      //getting the next element
      $content = $header.next();
      //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
      $content.slideToggle(500, function () {
          //execute this after slideToggle is done
          //change text of header based on visibility of content div
          $header.text(function () {
              //change text based on condition
              return $content.is(":visible") ? "Collapse" : "Expand";
          });
      });
    });
  </script>

  <style>
    .profile {
        /*min-height: 355px;*/
        display: inline-block;
    }
    .divider {
        border-top:1px solid rgba(0,0,0,0.1);
    }
    .emphasis {
        border-top: 4px solid transparent;
    }
    .emphasis h2 {
        margin-bottom:0;
    }
    span.tags {
        background: #1abc9c;
        border-radius: 2px;
        color: #f5f5f5;
        font-weight: bold;
        padding: 2px 4px;
    }
  </style>
	<title>Your Symmetrical Connections | NUS Bridge</title> 
  </head>

  <body>
  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="/snapshot">NUS Bridge</a>
  			</div>
  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav">
            <li><a href="/snapshot">Snapshot</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questionnaires <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/aspirations">Aspirations</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/personality">Personality</a></li>
              </ul>
            </li>
            <li class="active dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Analysis<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/symmetrical-connections">Symmetrical Connections</a></li>
                <li><a href="/complementary-connections">Complementary Connections</a></li>
                <li><a href="/improvement-advisory">Improvement Advisory</a></li>
              </ul>
            </li>
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ student_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">{{ student_email }}</li>
                <li class="divider"></li>
                <li><a href="/profile">Edit profile</a></li>
                <li><a href="/">Log out</a></li>
              </ul>
            </li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<br/><br/>
  	<div class="jumbotron">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12 text-center">
		  			<h1>Your Symmetrical Connections</h1>
            <br/>
		  			<p>You are likely to be similar to these people because you have the same aspiration and personality as them. Take a look at their experiences. Discover what you can learn from them or reach out to them.</p>
  				</div>
  			</div>
  		</div>
  	</div>

    <div class="row">
      <div class="container">
        {% if person_1_name|length > 0 %}
        <div class="col-md-6">
           <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <h2/>{{ person_1_name }}</h2>
                    <p>{{ person_1_major }}, {{ person_1_faculty }}</p>
                    <p>
                      <div class="dropdown">
                        <a type="button" class="btn btn-{% if person_1_networks == '' %}default{% else %}info{% endif %} dropdown-toggle {% if person_1_networks == '' %}disabled{% endif %}" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Social Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu text-left" role="menu" id="my_networks_1"></ul>
                        <script>
                          var temp = "{{ person_1_networks }}";
                          temp = temp.replace(/\s/g, '');
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<li><a href=\"http://" + temp[i] + "\">" + temp[i] + "</a></li>"
                          }
                          document.getElementById('my_networks_1').innerHTML = html;
                        </script>
                        <a href="{{ person_1_website }}" class="btn btn-{% if person_1_website == '' %}default{% else %}info{% endif %} {% if person_1_website == '' %}disabled{% endif %}"><span class="glyphicon glyphicon-link"></span> Website</a>
                      </div>
                    </p>
                    <p>Wants to be:<br/><strong id="my_aspirations_1"></strong>
                    </p> 
                    <script>
                          var temp = "{{ person_1_aspirations }}";
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<span class=\"tags\">" + temp[i] + "</span> "
                          }
                          document.getElementById('my_aspirations_1').innerHTML = html;
                    </script>
                  </div>            
                  <div class="col-sm-4">
                    <img src="../images/icon_961.png" alt="" class="img-circle img-responsive">
                    <h1 class="text-center"><span class="label label-primary">{{ person_1_percent }}%</span></h1>
                    <p>
                      {% if person_1_dob != '' %}
                      <span class="glyphicon glyphicon-user"></span> Born in <strong>{{ person_1_dob }}</strong><br/>
                      {% endif %}
                      {% if person_1_country != '' %}
                      <span class="glyphicon glyphicon-map-marker"></span> From <strong>{{ person_1_country }}</strong><br/>
                      {% endif %}
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <p><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="glyphicon glyphicon-info-sign"></span> More Info <span class="caret"></span></a></p>
                  </div>
                </div>
                <div class="col-xs-12 divider panel-collapse collapse" id="collapse1">
                  <br/><p class="lead text-center">"{{ person_1_advice }}"</p>
                  <p>
                    Skills: <strong>{{ person_1_skills }}</strong><br/>
                    Interests: <strong>{{ person_1_interests }}</strong><br/>
                    Involvements: <strong>{{ person_1_involvements }}</strong><br/>
                    Best Modules: <strong>{{ person_1_best_modules }}</strong><br/>
                  </p>
                </div>
           </div>                 
        </div>
        {% endif %}

        {% if person_2_name|length > 0 %}
        <div class="col-md-6">
           <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <h2/>{{ person_2_name }}</h2>
                    <p>{{ person_2_major }}, {{ person_2_faculty }}</p>
                    <p>
                      <div class="dropdown">
                        <a type="button" class="btn btn-{% if person_2_networks == '' %}default{% else %}info{% endif %} dropdown-toggle {% if person_2_networks == '' %}disabled{% endif %}" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Social Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu text-left" role="menu" id="my_networks_2"></ul>
                        <script>
                          var temp = "{{ person_2_networks }}";
                          temp = temp.replace(/\s/g, '');
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<li><a href=\"http://" + temp[i] + "\">" + temp[i] + "</a></li>"
                          }
                          document.getElementById('my_networks_2').innerHTML = html;
                        </script>
                        <a href="{{ person_2_website }}" class="btn btn-{% if person_2_website == '' %}default{% else %}info{% endif %} {% if person_2_website == '' %}disabled{% endif %}"><span class="glyphicon glyphicon-link"></span> Website</a>
                      </div>
                    </p>
                    <p>Wants to be:<br/><strong id="my_aspirations_2"></strong>
                    </p> 
                    <script>
                          var temp = "{{ person_2_aspirations }}";
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<span class=\"tags\">" + temp[i] + "</span> "
                          }
                          document.getElementById('my_aspirations_2').innerHTML = html;
                    </script>
                  </div>            
                  <div class="col-sm-4">
                    <img src="../images/icon_961.png" alt="" class="img-circle img-responsive">
                    <h1 class="text-center"><span class="label label-primary">{{ person_2_percent }}%</span></h1>
                    <p>
                      {% if person_2_dob != '' %}
                      <span class="glyphicon glyphicon-user"></span> Born in <strong>{{ person_2_dob }}</strong><br/>
                      {% endif %}
                      {% if person_2_country != '' %}
                      <span class="glyphicon glyphicon-map-marker"></span> From <strong>{{ person_2_country }}</strong><br/>
                      {% endif %}
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <p><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="glyphicon glyphicon-info-sign"></span> More Info <span class="caret"></span></a></p>
                  </div>
                </div>
                <div class="col-xs-12 divider panel-collapse collapse" id="collapse2">
                  <br/><p class="lead text-center">"{{ person_2_advice }}"</p>
                  <p>
                    Skills: <strong>{{ person_2_skills }}</strong><br/>
                    Interests: <strong>{{ person_2_interests }}</strong><br/>
                    Involvements: <strong>{{ person_2_involvements }}</strong><br/>
                    Best Modules: <strong>{{ person_2_best_modules }}</strong><br/>
                  </p>
                </div>
           </div>                 
        </div>
        {% endif %}

        {% if person_3_name|length > 0 %}
        <div class="col-md-6">
           <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <h2/>{{ person_3_name }}</h2>
                    <p>{{ person_3_major }}, {{ person_3_faculty }}</p>
                    <p>
                      <div class="dropdown">
                        <a type="button" class="btn btn-{% if person_3_networks == '' %}default{% else %}info{% endif %} dropdown-toggle {% if person_3_networks == '' %}disabled{% endif %}" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Social Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu text-left" role="menu" id="my_networks_3"></ul>
                        <script>
                          var temp = "{{ person_3_networks }}";
                          temp = temp.replace(/\s/g, '');
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<li><a href=\"http://" + temp[i] + "\">" + temp[i] + "</a></li>"
                          }
                          document.getElementById('my_networks_3').innerHTML = html;
                        </script>
                        <a href="{{ person_3_website }}" class="btn btn-{% if person_3_website == '' %}default{% else %}info{% endif %} {% if person_3_website == '' %}disabled{% endif %}"><span class="glyphicon glyphicon-link"></span> Website</a>
                      </div>
                    </p>
                    <p>Wants to be:<br/><strong id="my_aspirations_3"></strong>
                    </p> 
                    <script>
                          var temp = "{{ person_3_aspirations }}";
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<span class=\"tags\">" + temp[i] + "</span> "
                          }
                          document.getElementById('my_aspirations_3').innerHTML = html;
                    </script>
                  </div>            
                  <div class="col-sm-4">
                    <img src="../images/icon_961.png" alt="" class="img-circle img-responsive">
                    <h1 class="text-center"><span class="label label-primary">{{ person_3_percent }}%</span></h1>
                    <p>
                      {% if person_3_dob != '' %}
                      <span class="glyphicon glyphicon-user"></span> Born in <strong>{{ person_3_dob }}</strong><br/>
                      {% endif %}
                      {% if person_3_country != '' %}
                      <span class="glyphicon glyphicon-map-marker"></span> From <strong>{{ person_3_country }}</strong><br/>
                      {% endif %}
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <p><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><span class="glyphicon glyphicon-info-sign"></span> More Info <span class="caret"></span></a></p>
                  </div>
                </div>
                <div class="col-xs-12 divider panel-collapse collapse" id="collapse3">
                  <br/><p class="lead text-center">"{{ person_3_advice }}"</p>
                  <p>
                    Skills: <strong>{{ person_3_skills }}</strong><br/>
                    Interests: <strong>{{ person_3_interests }}</strong><br/>
                    Involvements: <strong>{{ person_3_involvements }}</strong><br/>
                    Best Modules: <strong>{{ person_3_best_modules }}</strong><br/>
                  </p>
                </div>
           </div>                 
        </div>
        {% endif %}

        {% if person_4_name|length > 0 %}
        <div class="col-md-6">
           <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <h2/>{{ person_4_name }}</h2>
                    <p>{{ person_4_major }}, {{ person_4_faculty }}</p>
                    <p>
                      <div class="dropdown">
                        <a type="button" class="btn btn-{% if person_4_networks == '' %}default{% else %}info{% endif %} dropdown-toggle {% if person_4_networks == '' %}disabled{% endif %}" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Social Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu text-left" role="menu" id="my_networks_4"></ul>
                        <script>
                          var temp = "{{ person_4_networks }}";
                          temp = temp.replace(/\s/g, '');
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<li><a href=\"http://" + temp[i] + "\">" + temp[i] + "</a></li>"
                          }
                          document.getElementById('my_networks_4').innerHTML = html;
                        </script>
                        <a href="{{ person_4_website }}" class="btn btn-{% if person_4_website == '' %}default{% else %}info{% endif %} {% if person_4_website == '' %}disabled{% endif %}"><span class="glyphicon glyphicon-link"></span> Website</a>
                      </div>
                    </p>
                    <p>Wants to be:<br/><strong id="my_aspirations_4"></strong>
                    </p> 
                    <script>
                          var temp = "{{ person_4_aspirations }}";
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<span class=\"tags\">" + temp[i] + "</span> "
                          }
                          document.getElementById('my_aspirations_4').innerHTML = html;
                    </script>
                  </div>            
                  <div class="col-sm-4">
                    <img src="../images/icon_961.png" alt="" class="img-circle img-responsive">
                    <h1 class="text-center"><span class="label label-primary">{{ person_4_percent }}%</span></h1>
                    <p>
                      {% if person_4_dob != '' %}
                      <span class="glyphicon glyphicon-user"></span> Born in <strong>{{ person_4_dob }}</strong><br/>
                      {% endif %}
                      {% if person_4_country != '' %}
                      <span class="glyphicon glyphicon-map-marker"></span> From <strong>{{ person_4_country }}</strong><br/>
                      {% endif %}
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <p><a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><span class="glyphicon glyphicon-info-sign"></span> More Info <span class="caret"></span></a></p>
                  </div>
                </div>
                <div class="col-xs-12 divider panel-collapse collapse" id="collapse4">
                  <br/><p class="lead text-center">"{{ person_4_advice }}"</p>
                  <p>
                    Skills: <strong>{{ person_4_skills }}</strong><br/>
                    Interests: <strong>{{ person_4_interests }}</strong><br/>
                    Involvements: <strong>{{ person_4_involvements }}</strong><br/>
                    Best Modules: <strong>{{ person_4_best_modules }}</strong><br/>
                  </p>
                </div>
           </div>                 
        </div>
        {% endif %}

        {% if person_5_name|length > 0 %}
        <div class="col-md-6">
           <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <h2/>{{ person_5_name }}</h2>
                    <p>{{ person_5_major }}, {{ person_5_faculty }}</p>
                    <p>
                      <div class="dropdown">
                        <a type="button" class="btn btn-{% if person_5_networks == '' %}default{% else %}info{% endif %} dropdown-toggle {% if person_5_networks == '' %}disabled{% endif %}" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Social Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu text-left" role="menu" id="my_networks_5"></ul>
                        <script>
                          var temp = "{{ person_5_networks }}";
                          temp = temp.replace(/\s/g, '');
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<li><a href=\"http://" + temp[i] + "\">" + temp[i] + "</a></li>"
                          }
                          document.getElementById('my_networks_5').innerHTML = html;
                        </script>
                        <a href="{{ person_5_website }}" class="btn btn-{% if person_5_website == '' %}default{% else %}info{% endif %} {% if person_5_website == '' %}disabled{% endif %}"><span class="glyphicon glyphicon-link"></span> Website</a>
                      </div>
                    </p>
                    <p>Wants to be:<br/><strong id="my_aspirations_5"></strong>
                    </p> 
                    <script>
                          var temp = "{{ person_5_aspirations }}";
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<span class=\"tags\">" + temp[i] + "</span> "
                          }
                          document.getElementById('my_aspirations_5').innerHTML = html;
                    </script>
                  </div>            
                  <div class="col-sm-4">
                    <img src="../images/icon_961.png" alt="" class="img-circle img-responsive">
                    <h1 class="text-center"><span class="label label-primary">{{ person_5_percent }}%</span></h1>
                    <p>
                      {% if person_5_dob != '' %}
                      <span class="glyphicon glyphicon-user"></span> Born in <strong>{{ person_5_dob }}</strong><br/>
                      {% endif %}
                      {% if person_5_country != '' %}
                      <span class="glyphicon glyphicon-map-marker"></span> From <strong>{{ person_5_country }}</strong><br/>
                      {% endif %}
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <p><a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><span class="glyphicon glyphicon-info-sign"></span> More Info <span class="caret"></span></a></p>
                  </div>
                </div>
                <div class="col-xs-12 divider panel-collapse collapse" id="collapse5">
                  <br/><p class="lead text-center">"{{ person_5_advice }}"</p>
                  <p>
                    Skills: <strong>{{ person_5_skills }}</strong><br/>
                    Interests: <strong>{{ person_5_interests }}</strong><br/>
                    Involvements: <strong>{{ person_5_involvements }}</strong><br/>
                    Best Modules: <strong>{{ person_5_best_modules }}</strong><br/>
                  </p>
                </div>
           </div>                 
        </div>
        {% endif %}

        {% if person_6_name|length > 0 %}
        <div class="col-md-6">
           <div class="well profile">
                <div class="col-sm-12">
                  <div class="col-sm-8">
                    <h2/>{{ person_6_name }}</h2>
                    <p>{{ person_6_major }}, {{ person_6_faculty }}</p>
                    <p>
                      <div class="dropdown">
                        <a type="button" class="btn btn-{% if person_6_networks == '' %}default{% else %}info{% endif %} dropdown-toggle {% if person_6_networks == '' %}disabled{% endif %}" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Social Networks <span class="caret"></span></a>
                        <ul class="dropdown-menu text-left" role="menu" id="my_networks_6"></ul>
                        <script>
                          var temp = "{{ person_6_networks }}";
                          temp = temp.replace(/\s/g, '');
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<li><a href=\"http://" + temp[i] + "\">" + temp[i] + "</a></li>"
                          }
                          document.getElementById('my_networks_6').innerHTML = html;
                        </script>
                        <a href="{{ person_6_website }}" class="btn btn-{% if person_6_website == '' %}default{% else %}info{% endif %} {% if person_6_website == '' %}disabled{% endif %}"><span class="glyphicon glyphicon-link"></span> Website</a>
                      </div>
                    </p>
                    <p>Wants to be:<br/><strong id="my_aspirations_6"></strong>
                    </p> 
                    <script>
                          var temp = "{{ person_6_aspirations }}";
                          temp = temp.split(",")
                          html = ''
                          for (i = 0; i < temp.length; i++) {
                            html += "<span class=\"tags\">" + temp[i] + "</span> "
                          }
                          document.getElementById('my_aspirations_6').innerHTML = html;
                    </script>
                  </div>            
                  <div class="col-sm-4">
                    <img src="../images/icon_961.png" alt="" class="img-circle img-responsive">
                    <h1 class="text-center"><span class="label label-primary">{{ person_6_percent }}%</span></h1>
                    <p>
                      {% if person_6_dob != '' %}
                      <span class="glyphicon glyphicon-user"></span> Born in <strong>{{ person_6_dob }}</strong><br/>
                      {% endif %}
                      {% if person_6_country != '' %}
                      <span class="glyphicon glyphicon-map-marker"></span> From <strong>{{ person_6_country }}</strong><br/>
                      {% endif %}
                    </p>
                  </div>
                  <div class="col-sm-12">
                    <p><a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><span class="glyphicon glyphicon-info-sign"></span> More Info <span class="caret"></span></a></p>
                  </div>
                </div>
                <div class="col-xs-12 divider panel-collapse collapse" id="collapse6">
                  <br/><p class="lead text-center">"{{ person_6_advice }}"</p>
                  <p>
                    Skills: <strong>{{ person_6_skills }}</strong><br/>
                    Interests: <strong>{{ person_6_interests }}</strong><br/>
                    Involvements: <strong>{{ person_6_involvements }}</strong><br/>
                    Best Modules: <strong>{{ person_6_best_modules }}</strong><br/>
                  </p>
                </div>
           </div>                 
        </div>
        {% endif %}
      </div>
    </div> 

  </body>
  </html>
