<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
  <script src="../scripts/jquery.js"></script>
  <script src="../scripts/bootstrap.js"></script>
  <script>
  $(".header").click(function () {

    $header = $(this);
    //getting the next element
    $content = $header.next();
    //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
    $content.slideToggle(500, function () {
        //execute this after slideToggle is done
        //change text of header based on visibility of content div
        $header.text(function () {
            //change text based on condition
            return $content.is(":visible") ? "Collapse" : "Expand";
        });
    });
  });
  </script>
	<title>Your Symmetrical Connections | NUS Bridge</title> 
  </head>

  <body>
  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="/snapshot">NUS Bridge</a>
  			</div>
  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav">
            <li><a href="/snapshot">Snapshot</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questionnaires <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/aspirations">Aspirations</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/personality">Personality</a></li>
              </ul>
            </li>
            <li class="active dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">Analysis<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/symmetrical-connections">Symmetrical Connections</a></li>
                <li><a href="/complementary-connections">Complementary Connections</a></li>
                <li><a href="/improvement-advisory">Improvement Advisory</a></li>
              </ul>
            </li>
  				</ul>
  				<ul class="nav navbar-nav navbar-right">
  					<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ student_name }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">{{ student_email }}</li>
                <li class="divider"></li>
                <li><a href="/profile">Edit profile</a></li>
                <li><a href="/">Log out</a></li>
              </ul>
            </li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<br/><br/>
  	<div class="jumbotron">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-12 text-center">
		  			<h1>Your Symmetrical Connections</h1>
            <br/>
		  			<p>You are likely to be similar to these people because you have the same aspiration as them and you can relate to their personalities. Take a look at their experiences. Maybe you can learn something from them or reach out to them too.</p>
  				</div>
  			</div>
  		</div>
  	</div>

    <div class="row">
      <div class="container">
        <div class="col-md-5" style="border: 1px solid gray; margin-bottom: 50px;">
          <div class="row">
            <div class="col-xs-2">
              <img src="../images/icon_961.png" class="img-circle" style="height:50px; width:50px; border:2px solid gray;">             
            </div>
            <div class="col-xs-10">
              <p><strong><font size="6pt">{{ person_1_percent }}%</strong></font> <font size="4pt">{{ person_1_name }}</font><br/>
              Born in {{ person_1_dob }}. <span class="glyphicon glyphicon-globe"></span> {{ person_1_country }}<br/>
              {{ person_1_major }}, {{ person_1_faculty }}<br/>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">More info <b class="caret"></b></a> <a href="{{ person_1_website}}">(url icon)</a> {{ person_1_networks}}
              </p>
            </div>
            <div class="col-xs-12 panel-collapse collapse" id="collapse1">
              <p>
                Skills: {{ person_1_skills }}<br/>
                Interests: {{ person_1_interests }}<br/>
                Involvements: {{ person_1_involvements }}<br/>
                Best Modules: {{ person_1_best_modules }}<br/>
              </p>
              <p class="lead">"{{ person_1_advice }}"</p>
            </div>
            <div class="col-xs-12" style="border-top: 1px solid gray">
              Wants to be: {{ person_1_aspirations }}
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1" style="border: 1px solid gray; margin-bottom: 50px;">
          <div class="row">
            <div class="col-xs-2">
              <img src="../images/icon_961.png" class="img-circle" style="height:50px; width:50px; border:2px solid gray;">             
            </div>
            <div class="col-xs-10">
              <p><strong><font size="6pt">{{ person_2_percent }}%</strong></font> <font size="4pt">{{ person_2_name }}</font><br/>
              Born in {{ person_2_dob }}. <span class="glyphicon glyphicon-globe"></span> {{ person_2_country }}<br/>
              {{ person_2_major }}, {{ person_2_faculty }}<br/>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">More info <b class="caret"></b></a> <a href="{{ person_2_website}}">(url icon)</a> {{ person_2_networks}}
              </p>
            </div>
            <div class="col-xs-12 panel-collapse collapse" id="collapse2">
              <p>
                Skills: {{ person_2_skills }}<br/>
                Interests: {{ person_2_interests }}<br/>
                Involvements: {{ person_2_involvements }}<br/>
                Best Modules: {{ person_2_best_modules }}<br/>
              </p>
              <p class="lead">"{{ person_2_advice }}"</p>
            </div>
            <div class="col-xs-12" style="border-top: 1px solid gray">
              Wants to be: {{ person_2_aspirations }}
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="row">
      <div class="container">
        <div class="col-md-5" style="border: 1px solid gray; margin-bottom: 50px;">
          <div class="row">
            <div class="col-xs-2">
              <img src="../images/icon_961.png" class="img-circle" style="height:50px; width:50px; border:2px solid gray;">             
            </div>
            <div class="col-xs-10">
              <p><strong><font size="6pt">{{ person_3_percent }}%</strong></font> <font size="4pt">{{ person_3_name }}</font><br/>
              Born in {{ person_3_dob }}. <span class="glyphicon glyphicon-globe"></span> {{ person_3_country }}<br/>
              {{ person_3_major }}, {{ person_3_faculty }}<br/>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">More info <b class="caret"></b></a> <a href="{{ person_3_website}}">(url icon)</a> {{ person_3_networks}}
              </p>
            </div>
            <div class="col-xs-12 panel-collapse collapse" id="collapse3">
              <p>
                Skills: {{ person_3_skills }}<br/>
                Interests: {{ person_3_interests }}<br/>
                Involvements: {{ person_3_involvements }}<br/>
                Best Modules: {{ person_3_best_modules }}<br/>
              </p>
              <p class="lead">"{{ person_3_advice }}"</p>
            </div>
            <div class="col-xs-12" style="border-top: 1px solid gray">
              Wants to be: {{ person_3_aspirations }}
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1" style="border: 1px solid gray; margin-bottom: 50px;">
          <div class="row">
            <div class="col-xs-2">
              <img src="../images/icon_961.png" class="img-circle" style="height:50px; width:50px; border:2px solid gray;">             
            </div>
            <div class="col-xs-10">
              <p><strong><font size="6pt">{{ person_4_percent }}%</strong></font> <font size="4pt">{{ person_4_name }}</font><br/>
              Born in {{ person_4_dob }}. <span class="glyphicon glyphicon-globe"></span> {{ person_4_country }}<br/>
              {{ person_4_major }}, {{ person_4_faculty }}<br/>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">More info <b class="caret"></b></a> <a href="{{ person_4_website}}">(url icon)</a> {{ person_4_networks}}
              </p>
            </div>
            <div class="col-xs-12 panel-collapse collapse" id="collapse4">
              <p>
                Skills: {{ person_4_skills }}<br/>
                Interests: {{ person_4_interests }}<br/>
                Involvements: {{ person_4_involvements }}<br/>
                Best Modules: {{ person_4_best_modules }}<br/>
              </p>
              <p class="lead">"{{ person_4_advice }}"</p>
            </div>
            <div class="col-xs-12" style="border-top: 1px solid gray">
              Wants to be: {{ person_4_aspirations }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="col-md-5" style="border: 1px solid gray; margin-bottom: 50px;">
          <div class="row">
            <div class="col-xs-2">
              <img src="../images/icon_961.png" class="img-circle" style="height:50px; width:50px; border:2px solid gray;">             
            </div>
            <div class="col-xs-10">
              <p><strong><font size="6pt">{{ person_5_percent }}%</strong></font> <font size="4pt">{{ person_5_name }}</font><br/>
              Born in {{ person_5_dob }}. <span class="glyphicon glyphicon-globe"></span> {{ person_5_country }}<br/>
              {{ person_5_major }}, {{ person_5_faculty }}<br/>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">More info <b class="caret"></b></a> <a href="{{ person_5_website}}">(url icon)</a> {{ person_5_networks}}
              </p>
            </div>
            <div class="col-xs-12 panel-collapse collapse" id="collapse5">
              <p>
                Skills: {{ person_5_skills }}<br/>
                Interests: {{ person_5_interests }}<br/>
                Involvements: {{ person_5_involvements }}<br/>
                Best Modules: {{ person_5_best_modules }}<br/>
              </p>
              <p class="lead">"{{ person_5_advice }}"</p>
            </div>
            <div class="col-xs-12" style="border-top: 1px solid gray">
              Wants to be: {{ person_5_aspirations }}
            </div>
          </div>
        </div>

        <div class="col-md-5 col-md-offset-1" style="border: 1px solid gray; margin-bottom: 50px;">
          <div class="row">
            <div class="col-xs-2">
              <img src="../images/icon_961.png" class="img-circle" style="height:50px; width:50px; border:2px solid gray;">             
            </div>
            <div class="col-xs-10">
              <p><strong><font size="6pt">{{ person_6_percent }}%</strong></font> <font size="4pt">{{ person_6_name }}</font><br/>
              Born in {{ person_6_dob }}. <span class="glyphicon glyphicon-globe"></span> {{ person_6_country }}<br/>
              {{ person_6_major }}, {{ person_6_faculty }}<br/>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">More info <b class="caret"></b></a> <a href="{{ person_6_website}}">(url icon)</a> {{ person_6_networks}}
              </p>
            </div>
            <div class="col-xs-12 panel-collapse collapse" id="collapse6">
              <p>
                Skills: {{ person_6_skills }}<br/>
                Interests: {{ person_6_interests }}<br/>
                Involvements: {{ person_6_involvements }}<br/>
                Best Modules: {{ person_6_best_modules }}<br/>
              </p>
              <p class="lead">"{{ person_6_advice }}"</p>
            </div>
            <div class="col-xs-12" style="border-top: 1px solid gray">
              Wants to be: {{ person_6_aspirations }}
            </div>
          </div>
        </div>
      </div>
    </div> 

  </body>
  </html>
