<!DOCTYPE html> 
<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="favicon.ico">
		<link href="../stylesheets/bootstrap.css" rel="stylesheet">
		<title>NUS Bridge</title>  
		</head>
	
	<body>
		<form action="/testingNdb" method="post">
		<div class="row">
			<div class="col-lg-5">
				<div class="input-group">
					<input type="text" name="username" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Search</button>
					</span>
		</div>
		</form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
	</body>
	
</html> 
